*
{
    box-sizing: border-box;
}

body
{

    background-image: url("https://img00.deviantart.net/c24a/i/2017/190/5/9/rick_and_morty_figures__black_background_by_acey13-dbfqmir.jpg");
   background-size: 100%;
   
   
}

#box
{
    color: red;
    margin: auto;
    font-size: 25px;
    font-weight: bold;

}
#title
{
    text-align: center;
}
.letters
{
    color: red;
    font-size: 25px;
    font-weight: bold;
}
#answerDisplay
{
    color: red;
}
#lettersguessed
{
    color: red;
}
#guesses
{
    color: red;
}


